<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Requested Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body> 
 		<div class="card m-3 border-primary">
	         <form action="#" th:action="@{/saveDynamicForm}" th:object="${requestedFormFields}" method="post">
	         
	         <input type="hidden" name="form_name" th:value="${requestedFormFields[0].subFormNames.formName}">
	             <h2 class="text-center bg-primary"><a class="btn btn-primary float-left" href="/form">Home</a> <a class="btn btn-primary mr-2 float-left" href="/getAllFormNames">User Forms</a>[[${#strings.replace(requestedFormFields[0].subFormNames.formName, '_',' ')}]]</h2>
		         <div th:each="formEntity,itr : ${requestedFormFields}" class="text-primary ml-2">
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='t'}">
		        		<label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        		<div class="col-sm-2">
		        		   <input type="text" th:name="${formEntity.fieldName}" class="form-control" th:disabled="${formEntity.archive == '1'}"/>
		        		</div>
		        	  </div>
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='r'}">
		        	    <label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        		 
		        		<div class="col-sm-2">
		        			<th:block th:each="FieldOptions, iterStat : ${formEntity.fieldOptions}" >
		        		   		<p> [[${FieldOptions.options}]] <input type="radio" th:name="${formEntity.fieldName}" th:value="${FieldOptions.options}"></p>
		        			</th:block>
		        		</div>
		        		
		        	  </div>
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='d'}">
		        	    <label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        	    <div class="col-sm-2">
		        	      <input type="date"  th:name="${formEntity.fieldName}" class="form-control" th:disabled="${formEntity.archive == '1'}"/>
		        	    </div>
		        	  </div>
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='c'}">
		        	    <label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        	    
		        	    <div class="col-sm-2">
		        			<th:block th:each="FieldOptions, iterStat : ${formEntity.fieldOptions}" >
		        		   		<p> [[${FieldOptions.options}]] <input type="checkbox" th:name="${formEntity.fieldName}" th:value="${FieldOptions.options}"></p>
		        			</th:block>
		        		</div>
		        	    
		        	  </div>
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='e'}">
		        	    <label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        	    <div class="col-sm-2">
		        	      <input type="email"  th:name="${formEntity.fieldName}"  class="form-control" th:disabled="${formEntity.archive == '1'}"/>
		        	    </div>
		        	  </div>
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='n'}">
		        	    <label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        	    <div class="col-sm-2">
		        	      <input type="number"  th:name="${formEntity.fieldName}"  class="form-control" th:disabled="${formEntity.archive == '1'}"/>
		        	    </div>
		        	  </div>
		        	  <div class="form-group row" th:if="${formEntity.fieldType=='ta'}">
		        	    <label class="col-sm-2 col-form-label">[[${#strings.replace(formEntity.fieldName, '_',' ')}]]</label>
		        	    <div class="col-sm-2">
		        	      <textarea  th:name="${formEntity.fieldName}"  class="form-control" th:disabled="${formEntity.archive == '1'}"></textarea>
		        	    </div>
		        	  </div>
		        	  </div>		        	  
		        <p class="ml-2"><input type="submit" value="Submit" class="btn btn-primary"/> <input type="reset" value="Reset" class="btn btn-primary"/></p>
	      </form>
        </div>
</body>