<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Requested Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="card m-3 border-primary">
	<h1 class="text-center bg-primary"> <a class="btn btn-primary mr-2 float-left" href="/getAllFormNames">Show All Forms</a> <a class="btn btn-primary float-left" href="/form">Home</a> SuccessFully Inserted</h1>
</div>
</body>